<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="id.xyz.xyzuan"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/xyz_app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SplashScreen"
            android:label="@string/xyz_app_name"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="id.xyz.xyzuan.Dashboard"
            android:label="@string/xyz_app_name"
            android:screenOrientation="portrait">
        </activity>
        <!-- activity
            android:name="id.xyz.xyzuan.x90qjhhxqo"
            android:label="@string/navbar_rominfo">
        </activity -->
</application>
</manifest>
